.headerContainer {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 48px;
  padding: 6px;
  border-radius: 60px;
  margin: 10px 0 16px;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
}

.headerCompany {
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerContainer .hero {
  width: 36px;
  height: 36px;
  min-width: 36px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.headerUserButton {
  color: #000;
  margin-left: 8px;
  border-radius: 30px;
  border-color: #eeeeee;
  background-color: #eeeeee;
}

button.headerUserButton:active,
button.headerUserButton:focus,
button.headerUserButton:hover {
  color: #00000050;
  border-color: #e0e0e0;
  background-color: #e0e0e0;
}

button.headerGoOut {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 6px;
  border: none;
  margin: 0 8px;
  min-width: 36px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

button.headerGoOut:active,
button.headerGoOut:focus,
button.headerGoOut:hover {
  background-color: #e0e0e0;
}

.headerMargin {
  margin-left: 16px;
}
