.theme_pink {
  --sidebarBackground: #943356;
  --sidebarFontColor: #943356;
  --sidebarSelect: #5f2137;
  --loginButton: #aa0b0b;
}

.theme_blue {
  --sidebarBackground: #007bff;
  --sidebarFontColor: #0248af;
  --sidebarSelect: #0a5eb8;
  --loginButton: #0655c7;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.appContainer {
  background-color: #f5f8ff;
  height: 100vh;
}

.routerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 16px 0 76px;
  width: calc(100vw - 76px);
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .routerContainer {
    margin: 0 5px !important;
    width: calc(100vw - 10px) !important;
  }
}

.dx-checkbox-icon {
  border-color: #888 !important;
}
